body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

.intro {
  background-color: grey;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vh;
}

.image img {
  margin-left: 1.5vh;
  height: 40vh;
  border-radius: 48px;
  /* width: 32vh; */
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.45);
}

.intro-name {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 3.5em;
  width: fit-content;
  /* box-shadow: 0 15px 10px rgba(0, 0, 0, 0.45); */
}
.intro-info {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  gap: 6vh;
}

.job-title {
  color: burlywood;
  font-size: 3em;
  font-weight: 700;
}

.skills {
  display: flex;
  background-color: lightgray;
  height: 50vh;
  align-items: center;
  justify-content: center;
  gap: 3vh;
}

.skills-title {
  display: flex;
  flex-direction: column;
}

.skills-list {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 18px;
  gap: 20px;
  color: grey;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid grey;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.45);
}

.skills-list span {
  border-bottom: solid gray 1px;
}

svg {
  height: 1.1em;
}
.s-p {
  font-size: 3.8em;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.education {
  display: flex;
  gap: 3vh;
  height: 50vh;
  background-color: beige;
  justify-content: center;
  align-items: center;
}

.education-title {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 3.8em;
}

.edu-container {
  display: block;
  width: 26vh;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid grey;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.45);
}

.education-year {
  font-weight: bold;
  margin-bottom: 1.5vh;
}
.course {
  font-weight: bold;
  color: brown;
}
.about-course {
  font-weight: 700;
}

p {
  margin: 0;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  color: white;
  font-weight: bold;
  min-height: fit-content;
  padding: 4vh;
  min-height: 70vh;
}

.about-info {
  width: 70vw;
  font-size: 1em;
  border-radius: 20px;
  padding: 4vh;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.45);
  text-shadow: 0 3px 4px black;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  color: white;
  background-color: rgba(37, 34, 34, 0.767);
  gap: 2vh;
  padding: 4vh;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: grey;
  display: flex;
  align-items: center;
  gap: 1vh;
  text-shadow: 0 5px 5px black;
  font-size: 2em;
}

.contact-title {
  font-weight: bold;
  font-size: 4em;
  text-shadow: 0 6px 4px black;
}

.contact-name {
  font-weight: bold;
  font-size: 3em;
  color: burlywood;
}

.contact-list {
  font-weight: bold;
}

.contact-list ul {
  display: flex;
  flex-direction: column;
}

.contact-list li {
  margin: 1.5vh;
}

.footer {
  color: grey;
  background-color: black;
  text-align: center;
  padding: 8px;
}

a .logo {
  height: 32px;
  width: 32px;
}

a:hover {
  color: brown;
  scale: 1.1;
  transition: 0.3s ease-in-out;
}
